# Allow common file types
!*.html
!*.css
!*.php
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.bmp
!*.tiff
!*.webp

# Allow specific folders and their contents
!css/
!css/**
!images/
!images/**
!mustache/
!mustache/**
!templates/
!templates/**
!3 outputs/
!3 outputs/**
