<!---------------------------------------
Name: Mary Lucey
Date: 5-18-25
Assiignment 4: Templating




------------------------------------------->
<!-- success.html -->

<div class="body-div">
   You are {{ title }} {{ favdrink }} {{ pname }} of {{ favfictionalplace }} and {{ favrealplace }}<br>
   Title length: {{ titleLength }} characters<br>
   Drink length: {{ drinkLength }} characters<br>
   Pet name length: {{ pnameLength }} characters<br>
   Fictional place length: {{ favfictionalplaceLength }} characters<br>
   Real place length: {{ favrealplaceLength }} characters<br>
   
   <p>
   {{#long_title}}
     That's a heck of a title!
   {{/long_title}}
   
   {{^long_title}}
     That's a cute little title.
   {{/long_title}}