{{!
Author: Mary Lucey
Date: 6-1-25
Assignment 4: Templating with Mustache
File: success.html
}}

<div class="body-div success">
  You are {{ title }} {{ favdrink }} {{ pname }} of {{ favfictionalplace }} and {{ favrealplace }}<br>
  Title length: {{ titleLength }} characters<br>
  Drink length: {{ drinkLength }} characters<br>
  Pet name length: {{ pnameLength }} characters<br>
  Fictional place length: {{ favfictionalplaceLength }} characters<br>
  Real place length: {{ favrealplaceLength }} characters<br>
